.user-profile {
    .badge {
        padding: 10px 15px;
        margin-right: 10px;
    }

    .card-subtitle {
        margin: 10px 0px;
    }

    svg {
        margin-right: 15px;
        font-size: 1.5em;
    }
}